[submodule "minerl_agent"]
	path = minerl_agent
	url = https://github.com/chscheller/minerl_agent.git
[submodule "agents/minecraft-bc"]
	path = agents/minecraft-bc
	url = https://github.com/Miffyli/minecraft-bc.git
